# Xcode
#
build/
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage